.about-team {
    background-color: white;
    color: black;
}

.about-team span {
    color: #E1314B;
}

.about-team h2 {
    margin-bottom: -10px;
}

.our-team h2 {
    font-family: Inter, serif;
}

.team-slogan {
    color: gray;
}

.text-photo {
    font-family: Inter, serif;
    margin-top: 30px;
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
    .our-team h2 {
        font-size: 24px;
    }

    .team-description {
        padding: 70px;
    }

    .about-team {
        padding: 70px;
    }

    .text-photo-1,
    .text-photo-2,
    .text-photo-3 {
        display: flex;
        justify-content: space-between;
    }

    .text-photo-2 {
        flex-direction: row-reverse;
    }

    .team-text-1,
    .team-text-2,
    .team-text-3 {
        display: flex;
        align-items: center;
        line-height: 34px;
        text-align: justify;
    }

    .team-text-1,
    .team-text-3 {
        max-width: 50%;
    }

    .team-text-2 {
        max-width: 45%;
    }

    .team-photo-1 img,
    .team-photo-3 img {
        margin-left: 70px;
        max-width: 90%;
    }

    .team-photo-3 img {
        margin-top: 50px;
        max-width: 90%;
    }

    .team-photo-2 img {
        margin-top: 50px;
        max-width: 90%;

    }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    .team-description {
        padding: 20px;
    }

    .about-team {
        padding: 20px;
    }

    .our-team {
        margin-left: 10px;
        font-size: 16px;
    }

    .team-slogan {
        margin-left: 10px;
        font-size: 10px;
    }

    .text-photo {
        font-size: 14px;
    }

    .team-text-1,
    .team-text-2,
    .team-text-3 {
        font-size: 11px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .team-photo-1 img,
    .team-photo-2 img,
    .team-photo-3 img {
        max-width: 100%;
        height: auto;
    }
}