.header {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faculty-info {
    display: flex;
    align-items: center;
}

.faculty-info img {
    height: 50px;
    margin-right: 10px;
}

.actions {
    display: flex;
    align-items: center;
}

.gallery {
    margin-left: 10px;
}

.dropdown select {
    margin-left: 10px;
}
