.header {
    background-color: #393E46D9;
    color: white;
    text-align: center;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faculty-info {
    display: flex;
    align-items: center;
}

.faculty-info img {
    height: 50px;
    margin-right: 10px;
}

.actions {
    display: flex;
    align-items: center;
}

.dropdown select {
    margin-left: 20px;
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    .faculty-info p {
        font-size: 9px;
        margin-left: -10px;
        margin-right: 12px;
    }

    .gallery {
        font-size: 12px;
        margin-left: 10px
    }

    .dropdown {
        margin-left: -10px;
    }
}
