.team-description {
    background-color: white;
    color: black;
    padding: 20px;
}

.title {
    text-align: center;
    font-family: Inter, serif;
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
    .team-description .description {
        margin-bottom: -70px; /* зменшуємо відступ між елементами на великих екранах */
    }

    .title {
        font-size: 24px;
    }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    .title {
        font-size: 12px;
    }

    .description {
        margin-left: 10px;
        font-size: 11px;
    }
}